@charset "UTF-8";
/* Estilos para el logo del encabezado */
.header-logo {
  margin-top: 10px;
  /* Estilo para el logo */
  /* Estilos para los párrafos */
  /* Media query para pantallas pequeñas */
}
.header-logo .logo {
  width: 161px;
  height: 61px;
}
.header-logo p {
  margin: 1rem 0 0 1rem; /* Combina márgenes superiores e izquierdos */
}
@media (max-width: 768px) {
  .header-logo .titulo-header {
    display: none; /* Oculta el título del encabezado */
  }
}

/* Estilos para la búsqueda en el encabezado */
.header-search {
  margin-top: 1rem;
  /* Botón con bordes redondeados */
  /* Input con bordes redondeados */
  /* Estilo para botones enfocados */
  /* Media query para pantallas pequeñas */
}
.header-search button {
  border-radius: 0 30px 30px 0; /* Usa sintaxis corta para los bordes */
}
.header-search input {
  border-radius: 30px 0 0 30px; /* Usa sintaxis corta para los bordes */
}
.header-search .btn-grid:focus {
  outline: none; /* Elimina el contorno */
  box-shadow: none; /* Elimina la sombra */
  border: none; /* Elimina el borde */
}
@media (max-width: 768px) {
  .header-search input {
    display: none; /* Oculta el input */
  }
}

/* Estilos para la barra de navegación */
/* Estilos para el color de la barra de navegación */
.color-navbar {
  border: 1px solid rgba(218, 218, 218, 0.5); /* Gris semi-transparente */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para la navegación */
.navegacion {
  /* Enlaces de navegación */
  /* Estilo para el favicon */
}
.navegacion .na {
  color: #DC052D; /* Color rojo */
}
.navegacion .favicon {
  height: 45px; /* Altura del favicon */
  width: 45px; /* Ancho del favicon */
}

/* Aqui el main */
/* Estilo para el banner principal */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para las tarjetas */
.cards {
  margin: 20px;
  display: flex;
  transition: 0.5s;
  background-color: #ecf0f9;
  /* Texto dentro de las tarjetas */
  /* Títulos de las tarjetas */
  /* Encabezados con imagen de fondo */
  /* Elemento principal de la tarjeta con fondo y bordes redondeados */
}
.cards p {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
}
.cards .card-titles {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card-headers {
  background-image: url(public/card/Vector.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  width: 82px;
}
.cards .card-mains {
  background-color: #ff6b0a;
  width: 62.88px;
  height: 62.88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

/* Efecto hover para las tarjetas */
.cards:hover {
  transform: translate(0px, 10px);
  background-color: #c1c2c4;
  border-radius: 10px;
}

/* Estilo para un contenedor específico */
#tarjeta {
  background-color: #ecf0f9;
}

/* Estilo para los botones */
.boton {
  padding-bottom: 40px;
  /* Botón primario */
  /* Botón secundario */
}
.boton .btn-1 {
  background-color: #003670;
  border: none;
  margin-right: 5px;
  border-radius: 50px;
  padding: 10px 35px;
  color: white;
}
.boton .btn-1:hover {
  background-color: #ecf0f9;
  color: #fd6b0d;
}
.boton .btn-2 {
  background-color: #fd6b0d;
  border: none;
  border-radius: 50px;
  padding: 10px 35px;
  color: white;
}
.boton .btn-2:hover {
  background-color: #ecf0f9;
  color: #fd6b0d;
}

/* Información para el cliente */
#informacion-al-cliente-title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

#card-informacion-al-cliente {
  border-color: #c1c2c4;
  box-shadow: #c1c2c4;
  border-radius: 20px !important;
  margin-bottom: 40px;
  /* Texto dentro del card */
  /* Efecto hover para el card */
}
#card-informacion-al-cliente p {
  font-size: 14px;
  font-weight: 600;
}
#card-informacion-al-cliente:hover {
  transition: 0.5s;
  transform: translate(10px, 10px);
  background-color: #dadada;
}
#card-informacion-al-cliente:hover p {
  color: #fd6b0d;
}

.card-cliente {
  height: 160px;
}

/* Información sobre la app móvil */
.app-movil-titles {
  background: linear-gradient(to bottom, white, rgba(218, 105, 12, 0.0941176471));
  margin-top: 40px;
  /* Subtítulo */
  /* Título principal */
  /* Texto de descripción */
  /* Botón */
}
.app-movil-titles h6 {
  font-size: 25px;
  font-weight: 600;
  color: #fd6b0d;
}
.app-movil-titles h2 {
  font-size: 32px;
  font-weight: 500;
  color: #003670;
}
.app-movil-titles p {
  font-size: 15px;
  font-weight: 600;
  color: #909aa8;
}
.app-movil-titles button {
  height: 45px;
  width: 202px;
  border-radius: 50px;
  color: #fd6b0d;
  border-color: #fd6b0d;
  margin-top: 20px;
  margin-bottom: 20px;
}
.app-movil-titles button:hover {
  background-color: #fd6b0d;
  color: white;
}

/* Noticias destacadas */
.portada-noticias {
  width: 568px;
  height: 319.5px;
  border-radius: 15px;
  position: relative;
  /* Botón dentro de las noticias */
}
.portada-noticias:hover {
  transition: 0.5s;
  transform: translate(10px, 10px);
}
.portada-noticias button {
  height: 45px;
  width: 202px;
  border-radius: 50px;
  background-color: #fd6b0d;
  color: white;
  border: none;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.portada-noticias button:hover {
  transition: 0.5s;
  background-color: white;
  color: #fd6b0d;
}
.portada-noticias .fondo-portada {
  background: linear-gradient(to bottom, #083367, rgba(142, 142, 142, 0.3803921569));
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.portada-noticias .noticias-header {
  padding: 20px;
}
.portada-noticias .noticias-header p {
  color: white;
  font-weight: 400;
}
.portada-noticias .noticias-header .header-parrafo {
  font-weight: 400;
  color: #fd6b0d;
}
.portada-noticias .noticias-main {
  padding: 0px 20px 20px 20px;
}
.portada-noticias .noticias-main p {
  font-size: 20px;
  color: white;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  .portada-noticias button {
    margin-top: 30px;
  }
}
/* Títulos de la portada */
.portada-titles {
  margin-top: 40px;
  margin-bottom: 40px;
}
.portada-titles button {
  height: 45px;
  width: 202px;
  border-radius: 50px;
  background-color: #fd6b0d;
  color: white;
  border: none;
  font-weight: 400;
}
.portada-titles button:hover {
  transition: 0.5s;
  background-color: white;
  color: #fd6b0d;
}

/* Area de licitacion */
.licitacion {
  background-color: #ECF0F9;
  padding: 60px;
}
.licitacion .columna {
  margin: 5px;
}
.licitacion .title-licitacion {
  padding-bottom: 40px;
}
.licitacion .title-licitacion h2 {
  font-size: 40px;
}
.licitacion button {
  height: 45px;
  width: 202px;
  border-radius: 50px;
  background-color: #003670;
  color: white;
  border: none;
  font-weight: 400;
}
.licitacion button:hover {
  transition: 0.5s;
  background-color: white;
  color: #fd6b0d;
}/*# sourceMappingURL=main.css.map */