/* Estilos para el logo del encabezado */
.header-logo {
  margin-top: 10px;

  /* Estilo para el logo */
  .logo {
    width: 161px;
    height: 61px;
  }

  /* Estilos para los párrafos */
  p {
    margin: 1rem 0 0 1rem; /* Combina márgenes superiores e izquierdos */
  }

  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    .titulo-header {
      display: none; /* Oculta el título del encabezado */
    }
  }
}

/* Estilos para la búsqueda en el encabezado */
.header-search {
  margin-top: 1rem;

  /* Botón con bordes redondeados */
  button {
    border-radius: 0 30px 30px 0; /* Usa sintaxis corta para los bordes */
  }

  /* Input con bordes redondeados */
  input {
    border-radius: 30px 0 0 30px; /* Usa sintaxis corta para los bordes */
  }

  /* Estilo para botones enfocados */
  .btn-grid:focus {
    outline: none; /* Elimina el contorno */
    box-shadow: none; /* Elimina la sombra */
    border: none; /* Elimina el borde */
  }

  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    input {
      display: none; /* Oculta el input */
    }
  }
}

/* Estilos para la barra de navegación */


/* Estilos para el color de la barra de navegación */
.color-navbar {
  border: 1px solid rgba(218, 218, 218, 0.5); /* Gris semi-transparente */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para la navegación */
.navegacion {
 

  /* Enlaces de navegación */
  .na {
    color: #DC052D; /* Color rojo */
  }

  /* Estilo para el favicon */
  .favicon {
    height: 45px; /* Altura del favicon */
    width: 45px; /* Ancho del favicon */
  }
}


/* Aqui el main */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  margin: 20px;
  display: flex;
  transition: 0.5s;
  background-color: #ecf0f9;

  p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
  }

  .card-titles {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-headers {
    background-image: url(public/card/Vector.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
    width: 82px;
  }

  .card-mains {
    background-color: #ff6b0a;
    width: 62.88px;
    height: 62.88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
}

.cards:hover {
  transform: translate(0px, 10px);
  background-color: #c1c2c4;
  border-radius: 10px;
}

#tarjeta {
  background-color: #ecf0f9;
}

.boton {
  padding-bottom: 40px;

  .btn-1 {
    background-color: #003670;
    border: none;
    margin-right: 5px;
    border-radius: 50px;
    padding: 10px 35px;
    color: white;

    &:hover {
      background-color: #ecf0f9;
      color: #fd6b0d;
    }
  }

  .btn-2 {
    background-color: #fd6b0d;
    border: none;
    border-radius: 50px;
    padding: 10px 35px;
    color: white;

    &:hover {
      background-color: #ecf0f9;
      color: #fd6b0d;
    }
  }
}

/* Aqui Informacion al cliente */

#informacion-al-cliente-title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}
#card-informacion-al-cliente {
  border-color: #c1c2c4;
  box-shadow: #c1c2c4;
  border-radius: 20px !important;
  margin-bottom: 40px;
  p {
    font-size: 14px;
    font-weight: 600;
  } 
  &:hover {
    transition: 0.5s;
    transform: translate(10px, 10px);
    background-color: #dadada;
    p {
      color: #fd6b0d;
    }
  }

}
.card-cliente {
  height: 160px;
}

/* Aqui Informacion el App movil */

.app-movil-titles {
  background: linear-gradient(to bottom, white, #DA690C18);
  margin-top: 40px;
  h6 {
    font-size: 25px;
    font-weight: 600px;
    color: #FD6B0D;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    color: #003670;
  }
p {
  font-size: 15px;
  font-weight: 600;
  color: #909AA8;
}
button {
  height: 45px;
  width: 202px;
  border-radius: 50px;
  color: #FD6B0D;
  border-color: #FD6B0D;
  margin-top: 20px;
   margin-bottom: 20px;
  &:hover {
    background-color: #FD6B0D;
    color: white;

  }

}


}
.portada-noticias {
  
  button {
    height: 45px;
  width: 202px;
  border-radius: 50px;
  background-color: #FD6B0D;
  color: white;
  border: none;
  margin-top: 80px;
  margin-left: 10px;
  font-weight: 400;
  
  &:hover {
    transition: 0.5s;
    background-color: white;
    color: #FD6B0D;

  }
  
  }
  
  width: 568px;
  height: 319.5px;
  border-radius: 15px;
.fondo-portada {
  background: linear-gradient(to bottom,  #083367 , #8E8E8E61);
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.noticias-header {
  padding:  20px;
  p {
    color: white;
    font-weight: 400;
  }
  .header-parrafo{
    
    font-weight: 400;
    color: #FD6B0D;
  }

}
.noticias-main {
  padding: 0px 20px 20px 20px;
  p {
    font-size: 20px;
    color: white;
  }
}
}
@media (max-width: 480px) {
.portada-noticias {
  button {
    margin-top: 30px;
  }
}  
}
.portada-titles {
  margin-top: 40px;
  margin-bottom: 40px;
  button {
    height: 45px;
    width: 202px;
    border-radius: 50px;
    background-color: #FD6B0D;
    color: white;
    border: none;
    font-weight: 400;
    &:hover {
      transition: 0.5s;
      background-color: white;
      color: #FD6B0D;
  
    }
  }
}
