.edesur {
  background-color: #f3f3f3;
}
.base{
  border-color: #083367;
}
/* Estilos para el logo del encabezado */
.header-logo {
  margin-top: 10px;

  /* Estilo para el logo */
  .logo {
    width: 161px;
    height: 61px;
  }

  /* Estilos para los párrafos */
  p {
    margin: 1rem 0 0 1rem; /* Combina márgenes superiores e izquierdos */
  }

  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    .titulo-header {
      display: none; /* Oculta el título del encabezado */
    }
  }
}

/* Estilos para la búsqueda en el encabezado */
.header-search {
  margin-top: 1rem;

  /* Botón con bordes redondeados */
  button {
    border-radius: 0 30px 30px 0; /* Usa sintaxis corta para los bordes */
  }

  /* Input con bordes redondeados */
  input {
    border-radius: 30px 0 0 30px; /* Usa sintaxis corta para los bordes */
  }

  /* Estilo para botones enfocados */
  .btn-grid:focus {
    outline: none; /* Elimina el contorno */
    box-shadow: none; /* Elimina la sombra */
    border: none; /* Elimina el borde */
  }

  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    input {
      display: none; /* Oculta el input */
    }
  }
}

/* Estilos para la barra de navegación */


/* Estilos para el color de la barra de navegación */
.color-navbar {
  border: 1px solid rgba(218, 218, 218, 0.5); /* Gris semi-transparente */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para la navegación */
.navegacion {
 

  /* Enlaces de navegación */
  .na {
    color: #DC052D; /* Color rojo */
  }

  /* Estilo para el favicon */
  .favicon {
    height: 45px; /* Altura del favicon */
    width: 45px; /* Ancho del favicon */
  }
}


/* Aqui el main */
/* Estilo para el banner principal */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para las tarjetas */
.cards {
  margin: 20px;
  display: flex;
  transition: 0.5s;
  background-color: #ecf0f9;

  /* Texto dentro de las tarjetas */
  p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
  }

  /* Títulos de las tarjetas */
  .card-titles {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Encabezados con imagen de fondo */
  .card-headers {
    background-image: url(public/card/Vector.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
    width: 82px;
  }

  /* Elemento principal de la tarjeta con fondo y bordes redondeados */
  .card-mains {
    background-color: #ff6b0a;
    width: 62.88px;
    height: 62.88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
}

/* Efecto hover para las tarjetas */
.cards:hover {
  transform: translate(0px, 10px);
  background-color: #c1c2c4;
  border-radius: 10px;
}

/* Estilo para un contenedor específico */
#tarjeta {
  background-color: #ecf0f9;
}

/* Estilo para los botones */
.boton {
  padding-bottom: 40px;

  /* Botón primario */
  .btn-1 {
    background-color: #003670;
    border: none;
    margin-right: 5px;
    border-radius: 50px;
    padding: 10px 35px;
    color: white;

    &:hover {
      background-color: #ecf0f9;
      color: #fd6b0d;
    }
  }

  /* Botón secundario */
  .btn-2 {
    background-color: #fd6b0d;
    border: none;
    border-radius: 50px;
    padding: 10px 35px;
    color: white;

    &:hover {
      background-color: #ecf0f9;
      color: #fd6b0d;
    }
  }
}

/* Información para el cliente */
#informacion-al-cliente-title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

#card-informacion-al-cliente {
  border-color: #c1c2c4;
  box-shadow: #c1c2c4;
  border-radius: 20px !important;
  margin-bottom: 40px;

  /* Texto dentro del card */
  p {
    font-size: 14px;
    font-weight: 600;
  }

  /* Efecto hover para el card */
  &:hover {
    transition: 0.5s;
    transform: translate(10px, 10px);
    background-color: #dadada;

    p {
      color: #fd6b0d;
    }
  }
}

.card-cliente {
  height: 160px;
}

/* Información sobre la app móvil */
.app-movil-titles {
  background: linear-gradient(to bottom, white, #da690c18);
  margin-top: 40px;

  /* Subtítulo */
  h6 {
    font-size: 25px;
    font-weight: 600;
    color: #fd6b0d;
  }

  /* Título principal */
  h2 {
    font-size: 32px;
    font-weight: 500;
    color: #003670;
  }

  /* Texto de descripción */
  p {
    font-size: 15px;
    font-weight: 600;
    color: #909aa8;
  }

  /* Botón */
  button {
    height: 45px;
    width: 202px;
    border-radius: 50px;
    color: #fd6b0d;
    border-color: #fd6b0d;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      background-color: #fd6b0d;
      color: white;
    }
  }
}

/* Noticias destacadas */
.portada-noticias {
  width: 568px;
  height: 319.5px;
  border-radius: 15px;
  position: relative;
  &:hover {
    transition: 0.5s;
    transform: translate(10px, 10px);
  }

  /* Botón dentro de las noticias */
  button {
    height: 45px;
    width: 202px;
    border-radius: 50px;
    background-color: #fd6b0d;
    color: white;
    border: none;
    font-weight: 400;
    position: absolute; 
    bottom: 10px; 
    left: 10px;

    &:hover {
      transition: 0.5s;
      background-color: white;
      color: #fd6b0d;
    }
  }

  .fondo-portada {
    background: linear-gradient(to bottom, #083367, #8e8e8e61);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
  }

  .noticias-header {
    padding: 20px;

    p {
      color: white;
      font-weight: 400;
    }

    .header-parrafo {
      font-weight: 400;
      color: #fd6b0d;
    }
  }

  .noticias-main {
    padding: 0px 20px 20px 20px;

    p {
      font-size: 20px;
      color: white;
    }
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  .portada-noticias {
    button {
      margin-top: 30px;
    }
  }
}

/* Títulos de la portada */
.portada-titles {
  margin-top: 40px;
  margin-bottom: 40px;

  button {
    height: 45px;
    width: 202px;
    border-radius: 50px;
    background-color: #fd6b0d;
    color: white;
    border: none;
    font-weight: 400;

    &:hover {
      transition: 0.5s;
      background-color: white;
      color: #fd6b0d;
    }
  }
}

/* Area de licitacion */

.licitacion {
  // Estilo de fondo y espaciado general para el contenedor principal de licitaciones
  background-color: #ECF0F9;
  padding: 60px;

  .columna {
    // Margen entre columnas individuales
    margin: 5px;
  }

  .title-licitacion {
    // Espaciado inferior para el título principal
    padding-bottom: 40px;

    h2 {
      // Tamaño de fuente del título principal
      font-size: 40px;
    }
  }

  button {
    // Dimensiones y estilo general del botón
    height: 45px;
    width: 202px;
    border-radius: 50px;
    background-color: #003670;
    color: white;
    border: none;
    font-weight: 400;

    &:hover {
      // Transición y cambio de colores al pasar el mouse
      transition: 0.5s;
      background-color: white;
      color: #fd6b0d;
    }
  }
}

/* Area de Certificaciones */

.certificaciones {
  // Espaciado general para la sección de certificaciones
  padding: 40px;

  .certificaciones-title {
    // Tamaño de fuente del título principal de las certificaciones
    font-size: 28px;

    span {
      // Color destacado para el texto dentro del título principal
      color: #FD6B0D;
    }
  }

  .contenido-title {
    p {
      // Color del texto descriptivo debajo del título principal
      color: #909AA8;
    }
  }
}
